<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>eat some burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>