<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat Da Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burger.js"></script>
    </head>
    <body>
		{{{ body }}}
	</body>
</html>