<h1>Eat some burgers!</h1>

<h2>Burgers that are not devoured:</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured:</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>

<form class="create-form">
  <div class="form-group">
    <label for="burger">burger name:</label>
    <input type="text" id="burger" name="name">
  </div>
  <button id="add-burger" type="submit">add burger</button>
</form>