body {
    width:400px;
    margin: 0 auto;
  }
  body, button {
    font-family: 'Indie Flower', cursive;
  }
  h2 {
    margin: 1.5em .25em .1em 0em;
  }
  button, li {
    text-transform: uppercase;
    margin: .25em;
  }
  li {
    list-style: none;
  }
  button #add-burger {
    margin: 0 auto !important;
  }